

@media only screen and (max-width: 780px) {

	nav {
		.logo {
			gap: 8px;

			&__img {
			max-width: 40px;
			}

			&__txt {
			font-size: 1rem;
			}
		}

		.search {
			&__txt {
				max-width: 150px;
				font-size: 1rem;
			}

			&__txt, &__btn {
				padding: 5px;
			}
		}

		.btn-actions {
			&__heart, &__cart {
				width: 25px;
			}
		}
	}
}

@media only screen and (max-width: 500px) {

	nav {
		.logo {
			&__txt {
			display: none;
			}
		}

		.search {
			&__txt {
				max-width: 80px;
			}
		}
	}
}
